/* ========== GLOBAL ========== */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0 auto;
  width: 1280px;
}

h1 {
  font-family: "PT sans";
  font-size: 60px;
  line-height: 75px;
}

h2 {
  font-family: "PT sans";
  font-size: 39px;
  line-height: 49px;
}

h3 {
  font-family: "PT sans";
  font-size: 31px;
  line-height: 39px;
  margin: 0;
}

h4 {
  font-family: "PT sans";
  font-size: 25px;
  line-height: 37.5px;
}

h5 {
  font-family: "PT sans";
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

h6 {
  font-family: "PT sans";
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
}

button {
  font-size: 16px;
}

hr {
  background-color: #ccd500;
  width: 1280px;
  margin: 0;
  height: 3px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* ========== BUTTON CLASSES ========== */

.btn-pri {
  background-color: #ccd500;
  border-radius: 8px;
  width: 129px;
  height: 44px;
}

.btn-pri:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-pri:active {
  border: 3px solid #939900;
  outline: none;
}

.btn-pri-disabled {
  background-color: #ebebeb;
  color: #837f7d;
  border-radius: 8px;
  border: none;
  width: 129px;
  height: 44px;
}

.btn-sec {
  border: 3px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  width: 129px;
  height: 44px;
  color: white;
}

.btn-sec:hover {
  border: 3px solid #ccd500;
  outline: none;
}

.btn-sec:active {
  background-color: #ffffff;
  border: 3px solid #ffffff;
  color: #001b36;
  outline: none;
}

.btn-sec-disabled {
  background-color: #001b36;
  border: 3px solid #837f7d;
  color: #837f7d;
  border-radius: 8px;
  width: 129px;
  height: 44px;
}

.btn-sec-light {
  border: 3px solid #001b36;
  color: #001b36;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  width: 129px;
  height: 44px;
}

.btn-sec-light:hover {
  border: 3px solid #ccd500;
  border-radius: 8px;
  width: 129px;
  height: 44px;
}

.btn-sec-light:active {
  background-color: #001b36;
  border: 3px solid #001b36;
  color: white;
  border-radius: 8px;
  width: 129px;
  height: 44px;
  outline: none;
}

.btn-sec-light-disabled {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #837f7d;
  color: #837f7d;
  border-radius: 8px;
  width: 129px;
  height: 44px;
}

.btn-tert {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: none;
  background-color: white;
  color: #006dbf;
  margin: 0px 20px;
  line-height: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08);
  width: 320px;
  height: 4.5rem;
  align-items: center;
  text-align: left;
  padding-left: 1rem;
}

.btn-tert i {
  text-align: right;
  padding-right: 1.5rem;
  font-size: 30px;
}

.btn-tert-disabled {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #837f7d;
  margin: 20px;
  line-height: 20px;
}

.btn-tert-dark {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin: 20px;
  line-height: 20px;
}

/* ========== HEADER ========== */

header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 2rem;
}

header img {
  height: 100%;
}

header ul {
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

header li {
  padding: 1rem 1rem;
}

/* ========== M-04 ========== */

.m-04 {
  margin-bottom: 48px;
  color: white;
  width: 1280px;
  position: relative;
  z-index: 0;
}

.m-04 img {
  width: 1280px;
  z-index: 0;
}

.m-04-content {
  position: absolute;
  bottom: 5%;
  left: 48px;
  width: 50%;
}

.m-04 i {
  font-size: 50px;
  padding-bottom: 0.5rem;
  color: #ccd500;
}

/* ========== M-05 ========== */

.m-05 {
  margin: 48px auto;
  border-radius: 12px;
  width: 1140px;
  display: grid;
  background-color: #f4f2fa;
}

.m-05-links-title {
  padding: 24px 24px 24px 48px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.m-05-links-title button {
  position: relative;
  width: 13rem;
}

.m-05-links {
  display: flex;
  border-radius: 12px;
  padding: 0px 24px 24px 24px;
}

/* ========== M-06 ========== */

.m-06 {
  margin: 48px auto;
  width: 1140px;
  border: 2px solid #ebebeb;
  border-radius: 12px;
}

.m-06 h5,
.m-06 i {
  color: #006dbf;
}

.m-06-links-title {
  padding: 48px 24px 24px 48px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.m-06-links-title button {
  position: relative;
  box-shadow: none;
  width: 13rem;
  justify-content: center;
}

.m-06-links-pic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 48px;
  row-gap: 24px;
  padding: 0px 48px 48px 48px;
}

.m-06-links-pic i {
  font-size: 30px;
  margin-bottom: 24px;
}

.m-06-links-pic h5 {
  margin-bottom: 24px;
}

/* ========== M-06b ========== */

.m-06b-box {
  border: 2px solid #ebebeb;
  border-radius: 12px;
  padding: 0px 48px 48px 48px;
}

.m-06b-links-title {
  padding: 48px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.m-06b-links-title button {
  position: relative;
  box-shadow: none;
  width: 13rem;
  justify-content: center;
}

.m-06b {
  margin: 48px auto;
  width: 1140px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.m-06b-image {
  margin: auto;
}

.m-06b-image img {
  width: 95%;
  border-radius: 12px;
}

.m-06b-links-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  row-gap: 24px;
}

.m-06b-links-pic i {
  font-size: 30px;
  margin-bottom: 24px;
}

.m-06b-links-pic h5,
.m-06b-links-pic i {
  color: #006dbf;
  margin-bottom: 20px;
}

/* ========== M-08a ========== */

.m-08a {
  margin: 48px auto;
  position: relative;
  top: 0px;
  left: 0px;
}

.m-08a img {
  width: 1280px;
}

.m-08a-hero {
  position: relative;
  color: white;
}

.m-08a-hero-content {
  position: absolute;
  top: 10%;
  left: 48px;
  width: 50%;
}

/* ========== M-10 ========== */

.m-10 {
  margin: 48px auto;
  width: 1140px;
  display: grid;
  border-radius: 12px;
  grid-template-columns: 1fr;
  background-color: #f4f2fa;
}

.m-10-links-title {
  padding: 48px 0px 0px 48px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.m-10-links-title button {
  position: relative;
  box-shadow: none;
  width: 13rem;
  justify-content: center;
  background-color: #f4f2fa;
  margin-right: 24px;
}

.m-10-links {
  border-radius: 12px;
  padding: 0px 48px;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 24px;
}

.m-10-links button {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
}

/* ========== FOOTER ========== */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: #001b36;
  padding: 2rem 5rem;
}

footer h6 {
  color: #ccd500;
}

footer ul {
  color: white;
  list-style-type: none;
}

footer li {
  padding: 0.3rem 0px;
}

.connect ul {
  display: flex;
}

.connect li {
  margin-right: 1rem;
}

.connect i {
  font-size: 22px;
}
